<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mensalista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div *ngIf="studentSubscription$ | async as studentSubscription; else loading">
    <ion-card class="card-padding">
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-avatar class="avatar-medium" slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
            </ion-avatar>
            <ion-col class="ion-justify-content-between">
              <ion-label class="title">
                {{studentSubscription.driverName}}
              </ion-label>
              <ion-card-subtitle>
                <ion-icon name="call"></ion-icon>
                {{studentSubscription.driverPhone}}
              </ion-card-subtitle>
              <ion-card-subtitle>
                <ion-icon name="car"></ion-icon>
                {{studentSubscription.vehiclePlate}}
              </ion-card-subtitle>
            </ion-col>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <!--
    <ion-card id="notify-card">
      <ion-card-header>
        <ion-card-title>12/04/2023</ion-card-title>
      </ion-card-header>
      <ion-card-content id="generic-text">
        Não vai conseguir ir para a faculdade hoje?
      </ion-card-content>
        <ion-button expand="block" shape="round" class="ion-justify-content-center notify-button" fill="outline" color="danger">Notificar Motorista</ion-button>
    </ion-card>
    <h1 id="generic-title">MENSALIDADES</h1>
    <ion-card id="monthly-price">
      <ion-card-content>
        <ion-grid [fixed]="true">

          <ion-row>
            <ion-col><h6 id="student-name">Gabriel Pinto</h6></ion-col>
            <ng-container *ngIf="paymentStatus; then paidOut; else pending"></ng-container>
            <ng-template #pending>
              <ion-col><h6 id="pending">PENDENTE</h6></ion-col>
            </ng-template>
            <ng-template #paidOut>
              <ion-col><h6 id="paidOut">PAGO</h6></ion-col>
            </ng-template>
          </ion-row>
        </ion-grid>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col><h6 id="month">04/2023</h6></ion-col>
            <ion-col><h6 id="price">{{studentSubscription.payments}}</h6></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card> ##FEATURES COMENTADAS ATÉ API RETORNAR DADOS NECESSÁRIOS
      -->
  </div>
  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-text color="primary">
    </ion-text>
  </ng-template>
  <div *ngIf="pendingSubscriptions$ | async as subscriptions">
    <div *ngIf="subscriptions.length > 0">
      <ion-card class="card-padding" *ngFor="let subscriptionStudent of subscriptions">
        <ion-card-header>
          <h1 id="subscription">
            Convite Mensalista
          </h1>
          <ion-card-title>
            <ion-item>
              <ion-avatar class="avatar-medium" slot="start">
                <img alt="Silhouette of a person's head" src="{{subscriptionStudent.driverPhoto}}"/>
              </ion-avatar>
              <ion-col class="ion-justify-content-between">
                <ion-label class="title">
                  {{subscriptionStudent.driverName}}
                </ion-label>
                <ion-card-subtitle>
                  <ion-icon name="call"></ion-icon>
                  {{subscriptionStudent.driverPhone}}
                </ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="car"></ion-icon>
                  {{subscriptionStudent.expirationDay}}
                </ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="cash"></ion-icon>
                  {{subscriptionStudent.monthlyFee}}
                </ion-card-subtitle>
              </ion-col>
            </ion-item>
          </ion-card-title>
        </ion-card-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button fill="clear" (click)="declineSubscription(subscriptionStudent.subscriptionId)">Recusar
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="acceptSubscription(subscriptionStudent.subscriptionId)">Aceitar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card>
    </div>
  </div>
</ion-content>
