/* CLASS */
.card-padding {
  padding: 0 0 0 0;
  margin-top: 20px;
}

.title {
  font-weight: 600;
  padding-bottom: 5px;
}

.avatar-medium {
  height: 66px;
  width: 72px;
}

/* ID */
#generic-text {
  font-size: 13px;
}

#notify-card {
  padding-bottom: 10px;
  margin-top: 24px;
}

#monthly-price {
  height: 14%;
}

#subscription {
  text-align: center;
  margin-top: 0;
}

#month {
  right: 6px;
  position: relative;
  font-size: 24px;
  font-weight: 600;
  top: -7px;
}

#price {
  right: -22px;
  position: relative;
  font-weight: 600;
  color: #3422F2;
  font-size: 24px;
  top: -7px;
}

#student-name {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  top: -17px;
  right: 6px;
}

#generic-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
  margin-top: 55px;
}

/* HTML */
ion-item {
  --border-color: transparent;
}

ion-card-subtitle {
  padding-top: 5px;
}

ion-card {
  border-radius: 10px;
}
