<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Mensalista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div *ngIf="studentSubscription$ | async as studentSubscription; else noRegularSubscription">
    <ion-card class="card-padding">
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-avatar class="avatar-medium" slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
            </ion-avatar>
            <ion-col class="ion-justify-content-between">
              <ion-label class="title">
                Motorista: {{studentSubscription.driverName}}
              </ion-label>
              <ion-card-subtitle>
                <ion-icon name="call"></ion-icon>
                {{studentSubscription.driverPhone | phoneFormat}}
              </ion-card-subtitle>
              <ion-card-subtitle>
                <ion-icon name="car"></ion-icon>
                {{studentSubscription.vehiclePlate | licensePlateFormat}}
              </ion-card-subtitle>
            </ion-col>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <h1 id="generic-title">MENSALIDADES</h1>
    <ion-card *ngFor="let payments of studentSubscription.payments">
      <ion-card-header>
        <ion-card-title style="color: #18C161;">
          Status: {{payments.status === 'PAID' ? 'Pago' : 'Vencido'}}</ion-card-title>
        <ion-card-subtitle>{{payments.value | currencyFormat}}</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        Data: {{payments.date | dateFormat:'dd/MM/yyyy HH:mm':'America/Sao_Paulo'}}
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #noRegularSubscription>
    <app-not-regular-student-card *ngIf="student" [student]="student"></app-not-regular-student-card>
  </ng-template>

  <div *ngIf="pendingSubscriptions$ | async as pendingRequests">
    <app-pending-requests *ngIf="pendingRequests.length > 0" [pendingRequests]="pendingRequests"></app-pending-requests>
  </div>
</ion-content>
