<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pegar carona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="ion-justify-content-center">Agendamento</h2>
  <ion-item>
    <ion-label>Selecione o período</ion-label>
    <ion-datetime
      minuteValues="0, 30"
      [hourValues]="horariosDisponiveis.length > 0 ? horariosDisponiveis : null"
      presentation="time"
      [(ngModel)]="periodoSelecionado">
    </ion-datetime>
  </ion-item>
  <ion-searchbar placeholder="Pesquisar câmpus" [debounce]="150" (ionInput)="handleInput($event)"></ion-searchbar>
  <ion-list>
    <ion-radio-group [(ngModel)]="campusSelecionado">
      <ion-item *ngFor="let campus of campiFiltrado; trackBy: trackByItem">
        <ion-radio [value]="campus" justify="space-between">
          <h6>{{campus.universidade}}</h6>
          <p>{{campus.lineAddress}}</p>
        </ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button color="primary" expand="block" (click)="handleSubmit()">
    Agendar Carona
  </ion-button>
</ion-content>
