<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <h1 >Pegar carona</h1>
    </ion-row>
    <h6>Agendamento</h6>
    <ion-select label="Selecione o período" label-placement="floating" fill="outline">

      <ion-select-option *ngFor="let time of time; let i = index" >{{time.hour}}</ion-select-option>
    </ion-select>

    <h6>Filtrar</h6>
    <ion-input label="Faculdade..." label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <ion-card *ngFor="let card of cards; let i = index"  [class.selected]="selectedCard === card" (click)="selectCard(card)" >
      <ion-card-header>
        <ion-card-title>{{ card.university }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ card.address }}
      </ion-card-content>
    </ion-card>
    <ion-button color="primary" expand="block">
      Agendar Carona
    </ion-button>
  </ion-grid>
</ion-content>
