<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="motorista/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Mensalistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div *ngIf="(subscriptions$ | async) as subscriptions; else emptySubscriptions">
    <div class="card-header">
      <h1 style="padding: 18px 0 0 24px; font-weight: 600;">Olá, {{username}}</h1>
      <p style="padding: 11px 0 0 25px;">Hoje é<b>
        dia {{ currentDate | dateFormat:'dd/MM/yyyy HH:mm':'America/Sao_Paulo' }}</b></p>
      <p *ngIf="subscriptions.availableSeats > 0" style="padding: 11px 0 0 25px;">
        Você tem <strong>{{subscriptions.availableSeats}} assentos vagos.</strong>
      </p>
      <p *ngIf="subscriptions.availableSeats === 0" style="padding: 11px 0 0 25px;">
        Você não tem assentos vagos.
      </p>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="onRefresh()">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Puxe para recarregar"
        refreshingSpinner="circles"
        refreshingText="Recarregando..."
      >
      </ion-refresher-content>
    </ion-refresher>
    <h2 id="generic-title">Alunos</h2>
    <ion-item id="present-alert" *ngFor="let student of subscriptions.students">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
      </ion-avatar>
      <ion-label> {{student.name}}</ion-label>
      <ion-button color="tertiary" id="open-modal" (click)="handleModal(student.subscriptionId)" expand="block">
        Ver mais
      </ion-button>
    </ion-item>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <div *ngIf="regularStudent$ | async as regular">
          <ion-header>
            <ion-toolbar>
              <ion-title>Mensalista: {{regular.name}}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)" [strong]="true">Voltar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content [fullscreen]="true" class="ion-padding">
            <ion-item>
              <ion-input readonly
                         label="Telefone"
                         labelPlacement="stacked"
                         value="{{regular?.phone}}"
                         [maskito]="phoneMask"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input readonly
                         label="Endereço Final"
                         labelPlacement="stacked"
                         value="{{regular?.finalAddress}}"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input readonly
                         label="Status de Mensalista"
                         labelPlacement="stacked"
                         value="{{regular?.subscriptionStatus === 'ACTIVE' ? 'Ativo' : 'Inativo'}}"
              ></ion-input>
            </ion-item>
            <h1>Pagamento</h1>
            <ion-card>
              <ion-card-header>
                <ion-card-title *ngIf="regular.payment.status === 'PAID'" color="success" >
                  Status: Pago</ion-card-title>
                <ion-card-title *ngIf="regular.payment.status === 'PENDING'" color="danger">
                  Status: Vencido</ion-card-title>
                <ion-card-subtitle>{{regular.payment.value | currencyFormat}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content *ngIf="regular.payment.date !== null">
                Data: {{regular.payment.date | dateFormatWs:'dd/MM/yyyy':'America/Sao_Paulo'}}
              </ion-card-content>
            </ion-card>
            <ion-row>
              <ion-col size="6">
                <ion-button class="ion-margin-bottom" color="primary" expand="block" style="font-size: 11px;"
                            (click)="createNewPayment(driverId, regular.subscriptionId)">
                  Nova cobrança
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button color="success" expand="block" style="font-size: 11px;"
                            (click)="updatePaymentStatus(driverId, regular.subscriptionId, regular.payment.paymentId)">
                  Confirmar Pagamento
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-content>
          <ion-fab slot="fixed" horizontal="center" vertical="bottom">
            <ion-fab-button (click)="deleteStudent(driverId, regular.subscriptionId)" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ng-template>
    </ion-modal>

    <ion-fab slot="fixed" vertical="bottom" horizontal="center">
      <ion-fab-button id="add-student" [routerLink]="['./novo']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ng-template #emptySubscriptions>
    <app-empty-regular-students></app-empty-regular-students>
  </ng-template>

</ion-content>
