<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Validar proposta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <ion-card class="ion-padding" *ngIf="agendamento$ | async as agendamento; else loading">
    <ion-card-header>
      <ion-card-title>
        <ion-label class="price ion-justify-content-end">
          <ion-icon class="icon-price" name="card-outline"></ion-icon>
          R$ 52,30
        </ion-label>
        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
          </ion-avatar>
          <ion-col class="ion-justify-content-between">
            <ion-label>
              {{agendamento.driverName}}
            </ion-label>
            <ion-card-subtitle>
              <ion-icon name="star"></ion-icon>
              4,3
       </ion-card-subtitle>
          </ion-col>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          <ion-icon name="time-outline"></ion-icon>
          Horário: 16:30
        </p>
        <p>
          <ion-icon name="navigate"></ion-icon>
          Origem: {{agendamento.origin}}
        </p>
        <p>
          <ion-icon name="location-outline"></ion-icon>
          Destino: {{agendamento.destination}}
        </p>
      </ion-text>
    </ion-card-content>
    <ion-card-content>

      <ion-row class="ion-justify-content-between">
        <ion-button color="danger" fill="outline" class="ion-margin-end">
          Recusar
        </ion-button>
        <ion-button color="success" class="ion-margin-start">
          Aceitar
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-text color="primary">
      <p class="ion-text-center">Carregando...</p>
    </ion-text>
  </ng-template>

  <ion-fab vertical="bottom">
    <ion-icon src="assets/undraw_trip_re_f724.svg" class="bigger-icon ion-align-items-baseline" ></ion-icon>
  </ion-fab>
</ion-content>
