<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="isRegistered">Sua van</span>
      <span *ngIf="!isRegistered">Cadastre sua van</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="display-info">
    <ion-col class="ion-text-center">
      <h2>Preencha as informações abaixo</h2>
      <ion-icon name="bus-outline" size="large"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-list class="ion-padding ion-margin-end">
    <form [formGroup]="vehicleForm"
          enctype="application/x-www-form-urlencoded">
      <ion-list>
        <ion-item>
          <ion-input formControlName="plate" label="Placa do veículo" labelPlacement="floating"
                     placeholder="ABC-1234" errorText="Insira uma placa válida"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="model" label="Modelo do veículo" labelPlacement="floating"
                     placeholder="Mercedes-Benz Sprinter 2.1 CDI" maxlength="80"
                     errorText="Preencha o modelo do veículo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="fabricationYear" label="Ano de fabricação" labelPlacement="floating"
                     placeholder="2015" type="number" min="1980"
                     errorText="Insira um ano de fabricação válido (Entre 1980 e o ano atual)"
                     [max]="currentYear"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="seats" label="Quantidade de assentos" type="number"
                     labelPlacement="floating" placeholder="12" min="0"
                     errorText="Insira a quantidade válida (Entre 0 e 20)"
                     max="20"></ion-input>
        </ion-item>
      </ion-list>
    </form>

    <app-register-address *ngIf="!isRegistered" (addressOutput)="handleAddressSelection($event)"></app-register-address>
  </ion-list>

</ion-content>

<ion-fab *ngIf="isRegistered" slot="fixed" horizontal="center" vertical="bottom">
  <ion-fab-button (click)="deleteVehicle()" color="danger">
    <ion-icon name="remove"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer *ngIf="!isRegistered">
  <ion-toolbar class="ion-padding">
    <ion-button
      (click)="handleSubmit()"
      expand="block"
      color="success"
      [disabled]="vehicleForm.invalid">
      Salvar
      <ion-icon name="save-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>

