<ion-card>
  <ion-card-header>
    <ion-card-title>Nenhuma carona realizada</ion-card-title>
    <ion-card-subtitle>Parece que você ainda não realizou nenhuma carona</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Faça sua primeira carona agora mesmo, clicando no botão abaixo
  </ion-card-content>

  <ion-button fill="outline" expand="block" class="ion-margin" [routerLink]="navigateTo">
    Oferecer Carona
    <ion-icon name="car-outline" slot="end"></ion-icon>
  </ion-button>
</ion-card>
