<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Validar proposta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <ion-card class="ion-padding" *ngIf="agendamento$ | async as agendamento; else loading">
    <ion-card-header>
      <ion-card-title>
        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
          </ion-avatar>
          <ion-label>
            {{agendamento.driverName}}
          </ion-label>
        </ion-item>
      </ion-card-title>
      <ion-card-subtitle>
        Avaliação:
        <ion-icon name="star"></ion-icon>
        4,3
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          <ion-icon name="car"></ion-icon>
          Placa: ABC-1234
        </p>
        <p>
          <ion-icon name="card-outline"></ion-icon>
          R$ 52,30
        </p>
        <p>
          <ion-icon name="navigate"></ion-icon>
          Partida: {{agendamento.origin}}
        </p>
        <p>
          <ion-icon name="location-outline"></ion-icon>
          Destino: {{agendamento.destination}}
        </p>
      </ion-text>
      <ion-button color="danger" fill="outline">
        Recusar
      </ion-button>
      <ion-button color="success" (click)="aceitarPropostaCarona(agendamento.scheduleId, agendamento)">
        Aceitar
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-text color="primary">
      <p class="ion-text-center">Carregando...</p>
    </ion-text>
  </ng-template>

  <ion-icon src="assets/undraw_trip_re_f724.svg" class="bigger-icon"></ion-icon>
</ion-content>
