<ion-content [fullscreen]="true">
  <h1>Seu agendamento foi solicitado</h1>
  <p>Por favor aguarde, pois os motoristas irão analisar sua solicitação</p>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Informações do Agendamento
      </ion-card-title>
      <ion-card-subtitle>
        <h2>
          <ion-icon name="time-outline"></ion-icon>
          22h00
        </h2>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        <ion-icon name="location-outline"></ion-icon>
        Embarque em:
      </p>
      <h3>Universidade Federal do Paraná</h3>
      <p>Jardim das Américas - Curitiba, PR, 80233-494</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="danger">Cancelar</ion-button>
</ion-content>
