<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-end">
      <ion-icon src="assets/logo_1.svg" class="small-icon"></ion-icon>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button [routerLink]="['/motorista']" color="light" expand="block">
          Sou motorista
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/aluno']" color="light" expand="block">
          Sou aluno
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-start">
      <ion-icon src="assets/undraw_city_driver_re_9xyv.svg" class="big-icon"></ion-icon>
    </ion-row>
  </ion-grid>
</ion-content>
