<ion-header>
  <ion-toolbar>
    <ion-title>Avaliação</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1 *ngIf="userType === UserType.STUDENT">Qual nota você dá para {{userName}}?</h1>
  <h1 *ngIf="userType === UserType.DRIVER">Qual nota você dá para  {{userName}}?</h1>
    <div [align]="alignment" style="padding-top: 29px">
      <ion-icon
        *ngFor="let star of stars; let i = index"
        [style.marginRight.px]="5"
        [style.fontSize]="size"
        [name]="star.icon"
        [color]="star.color"
        (click)="rate(i + 1)">
      </ion-icon>
    </div>

</ion-content>
<ion-footer>
  <ion-button *ngIf="userType === UserType.STUDENT" color="success" expand="block" (click)="ratingDriver()">
    Avaliar Motorista
  </ion-button>
  <ion-button *ngIf="userType === UserType.DRIVER" color="success" expand="block" (click)="ratingStudent()">
    Avaliar Aluno
  </ion-button>
</ion-footer>

