<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitações de Carona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <h2 class="ion-justify-content-center">
    Universidade Federal do Paraná - SEPT
  </h2>
  <div *ngIf="(requestedCarpools$ | async) as requestedCarpools; else loading">
    <ion-card *ngFor="let request of requestedCarpools; trackBy: trackByItem">
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Avatar do usuário" [src]="request.photoUrl ?? 'https://ionicframework.com/docs/img/demos/avatar.svg'"/>
            </ion-avatar>
            <ion-label>
              {{request.name}}
            </ion-label>
          </ion-item>
        </ion-card-title>
        <ion-card-subtitle>
          Avaliação:
          <ion-icon name="star"></ion-icon>
          {{request.rating}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          <ion-icon name="call-outline"></ion-icon>
          Telefone: {{request.phoneNumber}}
        </p>
        <p>
          <ion-icon name="time-outline"></ion-icon>
          Saída: <strong>{{request.scheduleTime}}</strong>
        </p>
        <p>
          <ion-icon name="location-outline"></ion-icon>
          Destino: {{request.lineAddress}}
        </p>
        <ion-item-group class="ion-margin-top">
          <ion-button color="secondary" fill="outline" expand="block" (click)="viewRoute(request.studentId!)">
            <ion-icon name="map-outline"></ion-icon>
            Visualizar Rota
          </ion-button>
          <ion-button color="success" expand="block" (click)="approveCarpoolRequest(request.studentId!)">Aceitar</ion-button>
         </ion-item-group>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #loading>
    <ion-item color="warning">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p class="ion-margin-start">Não há solicitações de carona disponíveis no momento</p>
    </ion-item>
  </ng-template>
</ion-content>
