<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">Sair</ion-button>
    </ion-buttons>
    <ion-title>
      <span>{{loggedUser?.name}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-end">
      <ion-icon src="assets/logo_1.svg" id="univan-logo"></ion-icon>
    </ion-row>
    <ion-row id="start-carpool" class="ion-justify-content-center">
      <ion-col>
        <ion-button color="light" expand="block" [routerLink]="navigationUrls.findCarpools">
          Pegar Carona
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="grey-border"></div>
    <ion-row id="user-options" class="ion-justify-content-start">
      <ion-col>
        <ion-button class="buttons" color="light" expand="block" [routerLink]="navigationUrls.editProfile">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Editar Perfil
        </ion-button>
        <ion-button class="buttons" color="light" expand="block" [routerLink]="navigationUrls.regularStudents">
          Mensalista
          <ion-icon slot="start" name="wallet-outline"></ion-icon>
        </ion-button>
        <ion-button class="buttons" color="light" expand="block" [routerLink]="navigationUrls.history">
          Histórico
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <h1>Endereço</h1>
      <ion-icon id="add-icon" size="large" name="add-outline" [routerLink]="navigationUrls.address"
                *ngIf="!addressRegistered"></ion-icon>
    </ion-row>
    <ion-card *ngIf="addressRegistered">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="location-outline"></ion-icon>
          {{address?.completeLineAddress}}         </ion-card-title>
      </ion-card-header>

      <ion-card-content style="display: flex" class="ion-justify-content-end">

          <ion-icon name="trash-outline" id="present-alert" size="large" color="danger"></ion-icon>
        <ion-alert
          trigger="present-alert"
          header="Você está prestes a deletar seu endereço, deseja prosseguir?"
          [buttons]="alertButtons"
        ></ion-alert>
     </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
