<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitação de Carona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>
        Informações do Agendamento
      </ion-card-title>
    </ion-card-header>

    <div *ngIf="requestedCarpool$ | async as requestedCarpool; else hasNoRequestedCarpool">
      <ion-card-content>
        <h3>
          <ion-icon name="time-outline"></ion-icon>
          Horário de embarque: <strong>{{requestedCarpool.scheduleTime}}</strong>
        </h3>
        <h3>
          <ion-icon name="location-outline"></ion-icon>
          Embarque em:
          <strong>Universidade Federal do Paraná</strong>
        </h3>
        <p>{{requestedCarpool.campusLineAddress}}</p>
      </ion-card-content>

      <ion-button id="cancel-carpool-request"
                  expand="block"
                  color="danger">
        Cancelar
      </ion-button>
      <ion-alert trigger="cancel-carpool-request"
                 header="Deseja mesmo cancelar?"
                 [buttons]="alertButtons"
                 (didDismiss)="setResult($event)"
      ></ion-alert>
    </div>

    <ng-template #hasNoRequestedCarpool>
      <ion-card-content>
        Não encontramos nenhuma solicitação em andamento, clique no botão abaixo para solicitar uma carona
      </ion-card-content>

      <ion-button expand="block"
                  [routerLink]="['/aluno/carona']">
        Procurar Carona
      </ion-button>
    </ng-template>
  </ion-card>

</ion-content>
