<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <ion-text class="ion-text-center">
    <ion-icon src="assets/undraw_confirmed_re_sef7.svg" class="bigger-icon"></ion-icon>
    <h1>Seu agendamento foi solicitado</h1>
    <p>Por favor aguarde, pois os motoristas irão analisar sua solicitação</p>
  </ion-text>
  <ion-card *ngIf="requestedCarpool$ | async as requestedCarpool; else loading" class="ion-padding">
    <ion-card-header>
      <ion-card-title>
        Informações do Agendamento
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>
        <ion-icon name="time-outline"></ion-icon>
        Horário de embarque: <strong>{{requestedCarpool.scheduleTime}}</strong>
      </h2>
      <h2>
        <ion-icon name="location-outline"></ion-icon>
        Embarque em:
        <strong>Universidade Federal do Paraná</strong>
      </h2>
      <p>{{requestedCarpool.campusLineAddress}}</p>
    </ion-card-content>
    <ion-button
      expand="block"
      color="danger"
      (click)="cancelCarpoolRequest()">
      Cancelar
    </ion-button>
  </ion-card>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-text color="primary">
      <p class="ion-text-center">Carregando...</p>
    </ion-text>
  </ng-template>

</ion-content>
