<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes da Carona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div *ngIf="student && campus">
    <google-map height="400px"
                width="90vw"
                [zoom]="3">
      <map-directions-renderer *ngIf="directionsResults$ | async as directionsResults"
                               [directions]="directionsResults">
      </map-directions-renderer>
    </google-map>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{student.name}}</ion-card-title>
        <ion-card-subtitle>
          <ion-icon name="school-outline"></ion-icon>
          {{campus.completeLineAddress}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="studentAddress$ | async as studentAddress">
          <ion-icon name="location-outline"></ion-icon>
          {{studentAddress.completeLineAddress}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Qual seu melhor preço para a carona?</p>
        <ion-item>
          <ion-input label="R$" type="number" placeholder="10.50" [formControl]="price"></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-button class="ion-margin"
                  fill="solid"
                  color="success"
                  expand="block"
                  (click)="submitCarpoolProposal()" [disabled]="price.invalid">
        Aceitar
        <ion-icon name="thumbs-up-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-card>
  </div>
</ion-content>
