<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes da Carona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <google-map height="400px"
              width="90vw"
              [zoom]="3">
    <map-directions-renderer *ngIf="directionsResults$ | async as directionsResults"
                             [directions]="directionsResults">
    </map-directions-renderer>
  </google-map>
</ion-content>
