<app-landing-page-header [username]="username"></app-landing-page-header>

<ion-content>
  <ion-grid [fixed]="true">

    <ion-row class="ion-justify-content-center ion-align-items-end">
      <ion-icon src="assets/logo_1.svg" id="univan-logo" class="ion-margin-bottom ion-margin-top"></ion-icon>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <ion-col>
        <ion-button *ngIf="isFindCarpoolEnabled" color="light" expand="block" [routerLink]="findCarpoolNav.url">
          {{findCarpoolNav.description}}
          <ion-icon slot="end" [name]="findCarpoolNav.icon"></ion-icon>
        </ion-button>

        <ion-item *ngIf="!isFindCarpoolEnabled" color="warning" class="info-block">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <p class="ion-margin-start">Você precisa cadastrar uma van para oferecer caronas</p>
        </ion-item>

      </ion-col>
      <ion-col>
        <ion-button *ngIf="isFindCarpoolEnabled" color="light" expand="block" [routerLink]="manageCarpool.url">
          {{manageCarpool.description}}
          <ion-icon slot="end" [name]="manageCarpool.icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    <ion-row id="user-options" class="ion-justify-content-start">
      <ion-col>
        <ion-button *ngFor="let navigation of navigations" class="ion-margin-top" color="light" expand="block" [routerLink]="navigation.url">
          <ion-icon slot="start" [name]="navigation.icon"></ion-icon>
          {{navigation.description}}
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
