<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">Sair</ion-button>
    </ion-buttons>
    <ion-title>
      <span>Olá, {{username}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-end">
      <ion-icon src="assets/logo_1.svg" id="univan-logo"></ion-icon>
    </ion-row>
    <ion-row id="start-carpool" class="ion-justify-content-center">
      <ion-col>
        <ion-button *ngIf="isFindCarpoolEnabled" color="light" expand="block" [routerLink]="findCarpoolNav.url">
          {{findCarpoolNav.description}}
          <ion-icon slot="end" [name]="findCarpoolNav.icon"></ion-icon>
        </ion-button>
        <ion-item *ngIf="!isFindCarpoolEnabled" color="warning">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <p class="ion-margin-start">Você precisa cadastrar uma van para oferecer caronas</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="grey-border"></div>
    <ion-row id="user-options" class="ion-justify-content-start">
      <ion-col>
        <ion-button *ngFor="let navigation of navigations" class="buttons" color="light" expand="block" [routerLink]="navigation.url">
          <ion-icon slot="start" [name]="navigation.icon"></ion-icon>
          {{navigation.description}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
