.big-icon {
  font-size: 80vw;
}

ion-button {
  text-transform: none;
}

.grey-border {
  width: 93%;
  height: 1px;
  background-color: #CCCCCC;
  right: -12px;
  position: relative;
}

.buttons {
  padding-bottom: 9px;

}

#start-carpool {
  padding-bottom: 33.4px;
}

#user-options {
  padding-top: 33px;
}

#univan-logo {
  font-size: 44vw;
  padding-bottom: 23px;
  padding-top: 11px;
}

#generic-text {
  font-size: 13px;
}

#notify-card {
  padding-bottom: 10px;
  margin-top: 24px;
}

.notify-button {
  display: grid;
  width: 97%;
}

