<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Histórico de Caronas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div *ngIf="(tripsHistory$ | async) as history; else loading">
    <ion-card class="ion-padding" *ngFor="let tripInfo of history">
      <ion-card-header>
        <ion-card-title>
          <ion-label class="price ion-justify-content-end">
            <ion-icon class="icon-price" name="card-outline"></ion-icon>
            {{tripInfo.price}}
          </ion-label>
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
            </ion-avatar>
            <ion-col class="ion-justify-content-between">
              <ion-label>
                {{tripInfo.studentName}}
              </ion-label>
              <ion-card-subtitle>
                <ion-icon name="star"></ion-icon>
                {{tripInfo.stars}}
              </ion-card-subtitle>
            </ion-col>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          <p>
            <ion-icon name="time-outline"></ion-icon>
            {{tripInfo.date}}
          </p>
          <p>
            <ion-icon name="navigate"></ion-icon>
            {{tripInfo.initialDestination}}
          </p>
          <p>
            <ion-icon name="location-outline"></ion-icon>
            {{tripInfo.finalDestination}}
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-text color="primary">
      <p class="ion-text-center">Carregando...</p>
    </ion-text>
  </ng-template>

  <ion-fab vertical="bottom">
    <ion-icon src="assets/undraw_current_location_re_j130.svg" class="bigger-icon ion-align-items-baseline" ></ion-icon>
  </ion-fab>
</ion-content>
