<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Histórico de Caronas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div *ngIf="!isEmpty">
    <ion-card *ngFor="let history of tripsHistory">
      <ion-card-header>
        <ion-card-title>
          <ion-label>
            {{history.studentName}}
          </ion-label>
          <ion-card-subtitle>
            <ion-icon name="star"></ion-icon>
            {{history.stars}}
          </ion-card-subtitle>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text>
          <ion-icon class="icon-price" name="card-outline"></ion-icon>
          R$ {{history.price}}
        </ion-text>
        <ion-text>
          <p>
            <ion-icon name="time-outline"></ion-icon>
            Data: {{history.date}}
          </p>
          <p>
            <ion-icon name="navigate"></ion-icon>
            Origem: {{history.initialDestination}}
          </p>
          <p>
            <ion-icon name="location-outline"></ion-icon>
            Destino: {{history.finalDestination}}
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="isEmpty">
    <app-empty-history-card [navigateTo]="['/motorista/caronas/procurar']"></app-empty-history-card>
  </div>

  <ion-fab vertical="bottom" class="behind-text">
    <ion-icon src="assets/undraw_current_location_re_j130.svg" class="bigger-icon ion-align-items-baseline"></ion-icon>
  </ion-fab>
</ion-content>
