<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastre-se</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <h3>Preencha suas informações</h3>

    <form [formGroup]="addressForm" (ngSubmit)="handleSubmit()">
        <ion-input
                class="ion-padding"
                formControlName="address"
                type="text"
                label="Pesquise o endereço"
                placeholder="Rua Laranja Lima, 230"
                labelPlacement="floating"
                errorText="Insira um endereço, por favor"
        ></ion-input>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar class="ion-padding">
        <ion-button (click)="handleSubmit()" type="submit" expand="block" color="primary">Cadastrar</ion-button>
    </ion-toolbar>
</ion-footer>
