<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="isEdit">Atualizar perfil</span>
      <span *ngIf="!isEdit">Cadastre-se</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registrationForm" (ngSubmit)="handleSubmit()" enctype="multipart/form-data">
    <ion-list>
      <ion-list-header>
        <h3>Preencha suas informações</h3>
      </ion-list-header>
      <ion-item>
        <ion-input
          formControlName="name"
          type="text"
          label="Nome Completo"
          placeholder="Nome Sobrenome"
          labelPlacement="floating"
          errorText="Preencha o seu nome completo"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="cpf"
          label="CPF"
          placeholder="xxx.xxx.xxx-xx"
          labelPlacement="floating"
          errorText="Insira um CPF válido"
          appCpfFormat
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="cnh"
          label="CNH"
          placeholder="xxxxxxxxxxx"
          labelPlacement="floating"
          errorText="Insira uma CNH válida"
          appCnhFormat
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="phonenumber"
          label="Telefone Celular"
          placeholder="(xx) xxxxx-xxxx"
          labelPlacement="floating"
          errorText="Insira um telefone válido"
          appPhoneNumberFormat
        ></ion-input>
      </ion-item>

      <div *ngIf="!isEdit">
        <ion-label class="ion-text-center">Data de Nascimento</ion-label>
        <ion-item>
          <ion-datetime presentation="date" formControlName="birthdate"></ion-datetime>
        </ion-item>
      </div>

      <ion-item>
        <ion-input
          formControlName="email"
          type="email"
          label="Email"
          placeholder="seuemail@exemplo.com"
          labelPlacement="floating"
          errorText="Insira um email válido"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="password"
          label="Sua senha"
          [type]="passwordVisible ? 'text' : 'password'"
          placeholder="Insira uma senha segura"
          labelPlacement="floating"
          errorText="Insira uma senha válida  (+6 caracteres)"
        >
        </ion-input>
        <ion-button type="button" fill="outline" color="dark" class="ion-float-right"
                    (click)="togglePasswordVisibility()">
          <ion-icon [name]="passwordVisible ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding">
    <div *ngIf="isEdit">
      <ion-button (click)="handleSubmit()" type="submit" expand="block" color="success">
        <ion-icon name="save-outline" class="ion-margin-end"></ion-icon>
        Salvar
      </ion-button>
    </div>
    <div *ngIf="!isEdit">
      <ion-button (click)="handleSubmit()" type="submit" expand="block" color="primary">Cadastre-se</ion-button>
      <span>Já possui uma conta?</span>
      <ion-button type="button" [routerLink]="['/login']" expand="block" color="success">Entrar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
