<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Procure por alunos!</ion-card-title>
      <ion-card-subtitle>Possui assentos disponíveis?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-searchbar placeholder="Pesquisar campus" [debounce]="150" (ionInput)="handleInput($event)"></ion-searchbar>
      <ion-list>
        <ion-radio-group [(ngModel)]="selectedCampus">
          <cdk-virtual-scroll-viewport itemSize="15">
            <ion-item *cdkVirtualFor="let campus of filteredCampiList; trackBy: trackByItem">
              <ion-radio [value]="campus" justify="space-between">
                <h6>{{campus.campusName}}</h6>
                <p>{{campus.completeLineAddress}}</p>
              </ion-radio>
            </ion-item>
          </cdk-virtual-scroll-viewport>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>

    <ion-button [routerLink]="['/motorista/caronas']"
                [queryParams]="selectedCampus ? {campus: selectedCampus.campusId, origem: selectedCampus.placeId} : {}"
                color="primary"
                expand="block"
                class="ion-margin"
                [disabled]="!selectedCampus">
      Buscar por alunos
      <ion-icon name="search-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>

