<ion-list>
  <ion-list-header>
    <h3>Endereço</h3>
  </ion-list-header>

  <ion-card *ngIf="address$ | async as address; else noAddress">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="location-outline"></ion-icon>
        {{address.completeLineAddress}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="display: flex" class="ion-justify-content-end">
      <ion-icon name="trash-outline" id="present-alert" size="large" color="danger"></ion-icon>
      <ion-alert trigger="present-alert"
                 header="Você está prestes a descadastrar seu endereço, deseja prosseguir?"
                 [buttons]="alertButtons"></ion-alert>
    </ion-card-content>
  </ion-card>

  <ng-template #noAddress>
    <ion-button
      expand="block"
      style="text-transform: none"
      color="success"
      [routerLink]="['../endereco']">
      Cadastrar Endereço
      <ion-icon name="location-outline" slot="end"></ion-icon>
    </ion-button>
  </ng-template>

</ion-list>
