<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Gerenciar Viagem</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
    <div *ngIf="!carpoolStarted">
        <div class="card-header">
            <h1 style="padding: 18px 0 0 24px; font-weight: 600;">Olá, {{username}}</h1>
            <p style="padding: 11px 0 0 25px;">Hoje é <b>dia {{ currentDate | dateFormat:'dd/MM/yyyy HH:mm'}}.</b></p>
            <p style="padding: 11px 0 0 25px;">
            </p>
        </div>


        <h2 id="generic-title">Caronas</h2>
        <div *ngIf="noSchedules && !carpoolStarted">
            <ion-item color="warning">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <p class="ion-margin-start">Você não aceitou nenhum caronista no momento.</p>
            </ion-item>
        </div>
        <ion-card class="ion-padding" *ngFor="let schedule of schedules">
            <ion-card-header>
                <ion-card-title>
                    <ion-label>
                        {{schedule.ridePrice | currencyFormat}}
                    </ion-label>
                    <ion-card-subtitle>
                        <ion-icon name="star"></ion-icon>
                        {{schedule.student.rating}}
                    </ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>

            <ion-item>
                <ion-avatar slot="start">
                    <img alt="Silhouette of a person's head" src="{{schedule.student.photoUrl}}"/>
                </ion-avatar>
                <ion-col class="ion-justify-content-between">
                    <ion-label>
                        {{schedule.student.name}}
                    </ion-label>
                    <ion-card-subtitle>
                        <ion-icon name="call-outline"></ion-icon>
                        {{schedule.student.phoneNumber | phoneFormat}}
                    </ion-card-subtitle>
                </ion-col>
            </ion-item>
            <ion-card-content>
                <ion-text>
                    <p>
                    <p>
                        <ion-icon name="location-outline"></ion-icon>
                        Destino: {{schedule.destinationAddress}}
                    </p>
                </ion-text>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="carpoolStarted">
        <google-map height="400px"
                    width="90vw"
                    [zoom]="3">
            <map-directions-renderer *ngIf="directionsResults$ | async as directionsResults"
                                     [directions]="directionsResults">
            </map-directions-renderer>
        </google-map>
    </div>

    <ng-template #emptySubscriptions>
    </ng-template>
</ion-content>

<ion-footer>
    <ion-toolbar class="ion-padding">
        <div *ngIf="!carpoolStarted && !noSchedules">
            <ion-button type="submit" expand="block" fill="outline"
                        (click)="redirectToMaps()">
                <ion-icon name="save-outline" class="ion-margin-end"></ion-icon>
                Iniciar Viagem
            </ion-button>
        </div>
        <div *ngIf="carpoolStarted">
            <ion-button type="button" expand="block" color="success" (click)="finishTrip(scheduleId)">Finalizar Viagem
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>
