<!--TODO: Validar se segue o padrao-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Novo Mensalista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    class="ion-margin-top round-svg"
    src="./assets/add-student.svg"
    alt="Icon"
  >
  <form [formGroup]="regularStudentForm" (ngSubmit)="handleSubmit()" enctype="application/x-www-form-urlencoded">
    <ion-list>
      <ion-list-header>
        <h2 class="ion-text-center">Dados do Mensalista</h2>
      </ion-list-header>
      <ion-item>
        <ion-input formControlName="monthlyFee"
                   errorText="Preencha a mensalidade (apenas números)"
                   label="Mensalidade"
                   label-placement="floating"
                   fill="outline"
                   placeholder="Digite algo"
                   type="number">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="expirationDay"
                   errorText="Preencha o dia de vencimento (apenas números)"
                   label="Dia de Vencimento"
                   label-placement="floating"
                   fill="outline"
                   min="1"
                   max="31"
                   type="number"
                   placeholder="Digite algo">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="studentId"
                   label="Identificação do estudante"
                   label-placement="floating"
                   fill="outline"
                   type="number"
                   placeholder="Digite algo">
        </ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-fab (click)="handleSubmit()" slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button color="primary">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
