<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar Mensalista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-icon class="ion-padding round-svg bigger-icon" src="./assets/add-student.svg"></ion-icon>

  <form [formGroup]="regularStudentForm" (ngSubmit)="handleSubmit()" enctype="application/x-www-form-urlencoded">
    <h2 class="ion-text-center">Dados do Aluno</h2>

    <ion-input formControlName="monthlyFee"
               errorText="Preencha a mensalidade (apenas números)"
               label="Mensalidade (R$)"
               label-placement="floating"
               placeholder="Digite algo"
               fill="outline"

    >
    </ion-input>

    <ion-input formControlName="studentId"
               label="Identificação do estudante"
               label-placement="floating"
               errorText="É necessário informar um ID válido do aluno"
               type="number"
               fill="outline"
               placeholder="Digite algo">
    </ion-input>


    <ion-item-group>
      <ion-item>
        <ion-select label="Data de vencimento" formControlName="expirationDay">
          <ion-select-option *ngFor="let day of expirationDays" [value]="day.value">{{day.text}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
  </form>

  <ion-fab (click)="handleSubmit()" slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button color="primary">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
